.filme-info{
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0px 8px;
    
}

.filme-info h1{
    border-radius: 8px;
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
}
.filme-info h3{
    margin-top: 14px;
}
.filme-info span{
    margin: 8px 0;
}
.botoes button{
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0px;
    font-size: 20px;
    border: 0px;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;


}

.botoes button:hover{
    background-color: red;
    color: white;
}
.botoes a{
    text-decoration: none;
    color: #000;
}

.botoes a:hover{
    background-color: red;
    color: white;
}